* {
    font-family: Roboto, sans-serif;

}
h1{
    color: #ec183f;
    font-weight: bold
}
p{
    font-style: italic;
    color: black
}
header, main, footer{
    margin-left: auto;
    margin-right: auto;
    width: 960px;

}

.destaque {
    width: 100%;
    text-align: center;
}

footer {
    text-align: center;
    border-top:solid #cccc 2px ;
    padding: 16px;

}
footer img {
    width: 32px;
    margin: 6px;
}

